In [7]:
os.getcwd()

'C:\\Users\\Daniel\\Documents\\GitHub\\Seminararbeit'

In [2]:
import pandas as pd
import os

data = pd.read_excel('daten_.xlsx')

data.head()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,...,last_edit_date_1,last_editor_display_name_1,last_editor_user_id_1,owner_display_name_1,owner_user_id_1,parent_id_1,post_type_id_1,score_1,tags_1,view_count_1
0,37992108,My html form won't POST to mysql,<p>Hello i have a problem where my data isn't ...,37994134,1,16,NaN,2016-06-23 12:47:34.017 UTC,0.0,2016-06-23 14:11:39.8 UTC,...,NaN,NaN,NaN,NaN,6498280.0,37992108,2,0,NaN,NaN
1,38039505,Counting number of characters in a WCHAR string,<p>Lua has a function named <code>utf8.len()</...,38083489,1,25,NaN,2016-06-26 14:29:23.597 UTC,NaN,2016-06-28 18:15:46.893 UTC,...,NaN,NaN,NaN,NaN,3408572.0,38039505,2,1,NaN,NaN
2,30864424,How to get the appropriate ComboBox Tag,<p>I'm trying to get the Tag associated to a v...,30865517,2,10,NaN,2015-06-16 10:01:14.49 UTC,0.0,2015-06-18 19:15:43.763 UTC,...,2015-06-16 12:25:59.613 UTC,NaN,4984854.0,NaN,4984854.0,30864424,2,1,NaN,NaN
3,31033371,Angular loop is not updating,<p>Just started out with angular. I was succes...,31034475,2,13,NaN,2015-06-24 17:40:05.553 UTC,NaN,2015-06-24 20:04:45.793 UTC,...,NaN,NaN,NaN,NaN,2435473.0,31033371,2,1,NaN,NaN
4,30769186,"why vector is always slower than C array, at l...",<p>I am trying to find all the primes not grea...,30769515,1,36,NaN,2015-06-10 23:43:19.39 UTC,NaN,2015-06-11 00:50:01.66 UTC,...,2015-06-11 00:50:01.66 UTC,NaN,257645.0,NaN,257645.0,30769186,2,7,NaN,NaN

In [15]:
selected = data.drop(['answer_count', 'comment_count','community_owned_date','creation_date','favorite_count','last_activity_date','last_edit_date','last_editor_display_name','last_edit_date_1','last_editor_display_name_1','last_editor_user_id_1','owner_display_name_1','owner_user_id_1','parent_id_1','post_type_id_1','view_count','last_editor_user_id','owner_display_name','owner_user_id','parent_id','post_type_id','answer_count_1','answer_count_1','comment_count_1','community_owned_date_1','creation_date_1','favorite_count_1','last_activity_date_1','view_count_1','accepted_answer_id_1','tags_1'], axis=1)
selected

,id,title,body,accepted_answer_id,score,tags,id_1,title_1,body_1,score_1
0,37992108,My html form won't POST to mysql,<p>Hello i have a problem where my data isn't ...,37994134,-1,php|html|mysql|post,37994134,NaN,<p>You should check for MySQL Error with mysql...,0
1,38039505,Counting number of characters in a WCHAR string,<p>Lua has a function named <code>utf8.len()</...,38083489,0,c|winapi|unicode|lua,38083489,NaN,"<p>Looking at <a href=""https://github.com/LuaD...",1
2,30864424,How to get the appropriate ComboBox Tag,<p>I'm trying to get the Tag associated to a v...,30865517,1,c#|wpf|combobox,30865517,NaN,<p>If you see the Tag is setting for the combo...,1
3,31033371,Angular loop is not updating,<p>Just started out with angular. I was succes...,31034475,1,javascript|php|mysql|angularjs|angularjs-http,31034475,NaN,<p>As you are doing post call which is saving ...,1
4,30769186,"why vector is always slower than C array, at l...",<p>I am trying to find all the primes not grea...,30769515,1,c++|arrays|vector,30769515,NaN,<p>Your comparisons contain inconsistencies wh...,7
...,...,...,...,...,...,...,...,...,...,...
9995,25627616,"Butterworth highpass filter, Matlab",<p>I have to:\nRead 'cameraman.tif' and conver...,25628863,0,matlab,25628863,NaN,<p>Given your description of what you want to ...,0
9996,25571684,Python 2.7: Persisting search and indexing,<p>I wrote a small 'search enginge' that finds...,25571770,0,python|search|dictionary|indexing,25571770,NaN,"<p><a href=""https://docs.python.org/2/library/...",1
9997,11054064,Wrong number of parameters to printf leads to ...,<pre><code>#include &lt;stdio.h&gt;\n\nint mai...,11054406,1,c|printf|format-specifiers,11054406,NaN,<p>Which compiler you are using? I tested it o...,-1
9998,11295221,How to disable mouseover event with javascript...,<p>In my code a function execute when user mou...,11295275,1,javascript|jquery|events,11295275,NaN,<p>You can have a look at an interesting featu...,3
9999,10972918,Winsock nonblocking send() wait buffer. What i...,<p>I have some questions about when it is need...,10973082,1,c++|buffer|winsock|send|nonblocking,10973082,NaN,"<p>At the top of your while loop, you are alre...",0